<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center"><%=@cocktail.name%> </h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "Description du cocktail" %>
        <%= f.input :ingredient_id, as: :select, collection: Ingredient.all %>
        <%= f.submit "Go", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
